<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <nav id="topnav">
          <a class="boton-home" href="http://localhost:3000">HOME</a>   |   <a class="boton-about" href="http://localhost:3000/about">ABOUT</a>   |   <a class="boton-galery" href="http://localhost:3000/galery">GALERY</a>   |  
          <a  class="boton-work" href="http://localhost:3000/work">WORK</a> 
          <br>  
     </div>
     <img src="images/alejandro1.webp"/>
     <img src="images/alej2.jpeg"/>
     <img src="images/aleja3.jpeg"/>
     <img src="images/aleja4.jpeg"/>
     <img src="images/alej5.jpeg"/>
     <img src="images/alja6.jpeg"/>

<div>
    <p class="realizado">Realizado por Luis Estero</p>
</div>




    
</body>
</html>