<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <nav id="topnav">
          <a class="boton-about" href="http://localhost:3000/about">ABOUT</a>   |   <a class="boton-galery" href="http://localhost:3000/galery">GALERY</a>   |  
          <a  class="boton-work" href="http://localhost:3000/work">WORK</a>
        </nav>
        <section id="content">
          <h1>ALEJANDRO VALVERDE</h1>
          <h3>NO LIMITS</h3>
          <img src="images/AlejandroFondo.jpg"  height="900px" width="1400px"/>
        </section>
     </div>
<div>
    <p class="realizado">Realizado por Luis Estero</p>
</div>




    
</body>
</html>